/* Add screen styles below */
a {
    text-decoration: none;
    display: inline-block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #000;
    color: #ffffff;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image:
        radial-gradient(1px 1px at 10% 20%, white 50%, transparent 51%),
        radial-gradient(1px 1px at 30% 80%, white 50%, transparent 51%),
        radial-gradient(1px 1px at 50% 40%, white 50%, transparent 51%),
        radial-gradient(1px 1px at 70% 60%, white 50%, transparent 51%),
        radial-gradient(1px 1px at 90% 10%, white 50%, transparent 51%);
    background-size: 200px 200px;
    opacity: 0.8;
    z-index: -1;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 40px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 16px;
}

p {
    max-width: 600px;
    line-height: 1.6;
    color: #d0d0d0;
}

.planets {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;

}

.planet {
    background-color: #bfbfbf;
    border-radius: 50%;
    border: 4px solid transparent;
    cursor: pointer;
    transition: border 0.2s ease;

    /* images */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.planet:hover {
    border: 4px solid #dcdcdc;
}

.planet.earth {
    height: 260px;
    width: 260px;
    background-image: url("earth.jpg");
}

.planet.moon {
    height: 80px;
    width: 80px;
    background-image: url("moon.jpg");
}

.planet.active {
    border: 4px solid #ffffff;
}